@page
@model logic_page_net5.Pages.Categorias.DetalleModel
@{
    ViewData["Title"] = "Detalle de Categoria";
}
<div class="container">


    <div class="row">
        <div class="col-8 offset-2">
            <h2 class="text-info"> Detalle de Categoria:@Html.DisplayFor(m => m.Categorias.Id)  </h2>

            @* CLASE BootStrap 5.0 List-group *@
            <ul class="list-group">
                <li class="list-group-item">Id: @Html.DisplayFor(m => m.Categorias.Id)             </li>
                <li class="list-group-item">Nombre: @Html.DisplayFor(m => m.Categorias.Nombre)         </li>
                <li class="list-group-item">Fecha de Creacion: @Html.DisplayFor(m => m.Categorias.FechaCreacion)  </li>
            </ul>

        </div>
    </div>


    <div class="row">
        <div class="col-6">
            <a asp-page="Index" class="btn btn-success">Regresar</a>
        </div>
    </div>

</div>